@model Commute.Models.User
@{
    Layout = "~/Views/Shared/_Mail.cshtml";
}
<h1>Welcome to Commute</h1>
Your account <b>@Model.Account</b> has been sucessfuly created.<br />
You can now register routes and find commuters with similar routes as yours.<br /><br />

To get start read the <a href="http://commute.apphb.com/Help/Help" target="_blank">Quick start guide</a>.<br /><br />
To register issues/ask for help/request features use the <a href="http://commute.freeforums.org/" target="_blank">forum</a>.<br /><br />
Wish you a safe and fun commute, the Commute Team.
