@using Commute.Properties
@using Mvc.Mailer;

<html>
<head>
    <title>Commute mail</title>
    <style>
        body {
            background-color: #ececfe;
            font-family: Tahoma;
        }
        h {
            font-family: Arial;
            font-weight: 600;
        }
        img.map {
            border: solid 1px black;
        }
        img.noborder {
            border: none;
        }
    </style>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <p></p>
    <a href="http://commute.apphb.com" title="Click to go to Commute web site">@Html.InlineImage("signature", "Commute signature")</a>
    @*<img src="@(ViewBag.HttpPicture)Commute mail signature.png" class="noborder"/>*@
</body>
</html>
