<html>
<head>
    <title>Commute mail</title>
    <style>
        body {
            background-color: #ececfe;
            font-family: Tahoma;
        }
        h {
            font-family: Arial;
            font-weight: 600;
        }
    </style>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
