@using Commute.Properties

    <form action="/User/UploadFile" method="post" enctype="multipart/form-data">
        <input class="input-file-upload" type="file" name="file" id="file" />
        <input type="submit" value="@Resources.Update_picture" />
    </form>
