body {
    font-family: Tahoma;
    font-size: .9em;
}
iframe { /*used to display documentation*/
width: 100%;
position: absolute;
top: 54px;
left: 0px;
border: 0px none transparent;
padding: 0px;
}
div.inline {
    display: inline;
}
div.float {
    float: left;
    /*width: 100%;*/
}
div.size100 {
    width: 100%;
}
div.size30 {
    width: 30%;
}
div.size40 {
    width: 40%;
}
div.size60 {
    width: 60%;
}
div.size70 {
    width: 70%;
}
div.message {
    display: block;
    position: absolute;
    top: 200px;
    background-color: #c3cdd9;
    opacity: 0.5;
    margin-left: 5em;
    margin-right: 5em;
    border-radius: 15px;
    visibility: hidden;
    padding: 1em;
    text-align: center;
}
.ui-loading .ui-loader
{
    display:none;
}
div.ui-body-c {
    background: #ececfe;
    font-family: Tahoma;
    font-size: 1em;
}
span.ui-btn-inner {
    font-family: Tahoma;
    font-size: 1em;
}
label.ui-input-text {
    font-family: Tahoma;
    font-size: 1em;
}
input.ui-body-c {
    font-family: Tahoma;
    font-size: 1em;
    padding-top: 0em; /*Updated from 0.1 to 0*/
    padding-bottom: 0em;
    margin-top: 0.1em;
}
input.input-file-upload {
    width: 84px;
}
input.non-editable-data {
    background-color: #ececfe;
    opacity: 1;
    box-shadow: none;
}
input.account {
    width: 10em;
    display: inline;
}
input.password {
    width: 10em;
    display: inline;
}
input.user-name {
    width: 14em;
    display: inline;
}
input.email {
    width: 14em;
    display: inline;
}
.field-validation-error {
    color: red;
}
.ui-btn-inner { /*display as much as possible text on the route button*/
    /*padding-left: 2px; Affects all buttons
    padding-right: 2px;*/
}
.seek {
    background-color: #40b723; /*green*/
    background: #40b723; /*green*/
    /*background: -webkit-radial-gradient(white,#40b723);*/ /*green*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#f7f7f7');*/
    text-align:left;
    font-weight: 100;
    text-shadow: none;
    padding-left: 0px;
    width: 250px;
}
.offer {
    background-color: #f12b2b; /*red*/
    background: #f12b2b; /*red*/
    text-align:left;
    font-weight: 100;
    text-shadow: none;
    padding-left: 0px;
    width: 250px;
}
.like-button {
    position: absolute;
    display: inline-block;
    padding: 6px;
    margin-top: 8px;
    margin-bottom: 6px;
    border-radius: 13px;
    border: solid 1px;
    font-size: 0.7em;
}
/*Custom file upload*/
.custom-upload {
    position: relative;
    height: 40px;
    width: 350px;
    margin:30px;
}
.custom-upload input[type=file]
{
    outline:none;
    position: relative;
    text-align: right;    
    -moz-opacity:0 ;
    filter:alpha(opacity: 0);
    opacity: 0;
    z-index: 2;
    width:100%;
    height:100%;
    
}
.custom-upload .fake-file
{
    background:url(http://www.fold3.com/i/upload-icon.png) center right no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 350px;
    padding: 0;
    margin: 0;
    z-index: 1;
    line-height: 100%;
    cursor: move;
}
.custom-upload .fake-file input
{
    font-size:16px;
    height:40px;
    width:300px;
}

​


/*For test*/
.border {
    border: solid 1px;
}