body {
    font-family: Tahoma;
    font-size: .9em;
}
iframe { /*used to display documentation*/
width: 100%;
position: absolute;
top: 54px;
left: 0px;
border: 0px none transparent;
padding: 0px;
}
div.ui-body-c {
    background: #ececfe;
    font-family: Tahoma;
    font-size: 1em;
}
span.ui-btn-inner {
    font-family: Tahoma;
    font-size: 1em;
}
label.ui-input-text {
    font-family: Tahoma;
    font-size: 1em;
}
input.ui-body-c {
    font-family: Tahoma;
    font-size: 1em;
    padding-top: 0em; /*Updated from 0.1 to 0*/
    padding-bottom: 0em;
    margin-top: 0.1em;
}
input.input-file-upload {
    width: 84px;
}
input.non-editable-data {
    background-color: #ececfe;
    opacity: 1;
    box-shadow: none;
}
input.account {
    width: 10em;
    display: inline;
}
input.password {
    width: 10em;
    display: inline;
}
input.email {
    width: 20em;
    display: inline;
}
.field-validation-error {
    color: red;
}
.ui-btn-inner { /*display as much as possible text on the route button*/
    padding-left: 2px;
    padding-right: 2px;
}
.seek {
    background: #40b723; /*green*/
    text-align:left;
    font-weight: 100;
    text-shadow: none;
    padding-left: 0px;
}
.offer {
    background: #f12b2b; /*red*/
    text-align:left;
    font-weight: 100;
    text-shadow: none;
    padding-left: 0px;
}
.like-button {
    padding: 9px;
    margin-top: 7px;
    margin-bottom: 6px;
    border-radius: 13px;
    border: solid 1px;
}
