@model IEnumerable<Commute.Models.User>

<h2>Index 2012-10-30 16:00</h2>

@*Menu*@
<ul>
    <li>Home</li>
    <li>@Html.ActionLink("List location", "List", "Location")</li>
    <li>@Html.ActionLink("Create location", "Create", "Location")</li>
    <li>Update location</li>
</ul>

<ul>
    @foreach (var user in Model)
    {
        <li>@user.Name (@user.EmailAddress)</li>
    }
</ul>

@using(Html.BeginForm("Create", "Home", FormMethod.Post))
{
    <input type="text" name="Name" />
    <input type="text" name="EmailAddress" />
    <input type="submit" value="Submit" />
}